 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/techfestbg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 3927px;
}

.u-section-1 .u-text-1 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 49px 160px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 37px auto 0 114px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 87px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 46px;
  height: 46px;
  margin: 137px auto 0 509px;
}

.u-section-1 .u-shape-2 {
  width: 47px;
  height: 47px;
  margin: -46px 536px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Akaya Kanadaka";
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 209px auto 0;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 114px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "Baloo Bhaijaan 2";
  margin: 79px 36px 0 98px;
}

.u-section-1 .u-group-1 {
  width: 897px;
  min-height: 1105px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 110px 91px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  font-family: "Baloo Bhaijaan 2";
  margin: 0 30px 0 14px;
}

.u-section-1 .u-line-3 {
  margin-top: 31px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-text-5 {
  font-family: "Baloo Bhaijaan 2";
  margin: 32px 9px 0 35px;
}

.u-section-1 .u-line-4 {
  width: 445px;
  transform-origin: left center 0px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 1.5rem;
  margin: 23px auto 0 30px;
}

.u-section-1 .u-line-5 {
  width: 417px;
  transform-origin: right center 0px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-text-7 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 1.5rem;
  margin: 27px 91px 0 73px;
}

.u-section-1 .u-video-1 {
  width: 999px;
  height: 499px;
  margin: 155px 14px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 429px 388px 60px auto;
  padding: 39px 109px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3209px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-right: 43px;
    transition-duration: 0.5s;
    background-position: 50% 50%;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 470px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3099px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 360px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2989px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 494px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 493px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4200px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.3125rem;
    width: auto;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 294px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 205px;
    margin-right: -11px;
    margin-left: 26px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-top: 118px;
  }

  .u-section-1 .u-group-1 {
    width: 351px;
    min-height: 1771px;
    margin-right: -11px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-line-4 {
    width: 351px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-line-5 {
    width: 351px;
  }

  .u-section-1 .u-video-1 {
    height: 170px;
    margin-top: 153px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 431px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}