 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/techfestbg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 3149px;
}

.u-section-1 .u-text-1 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 53px 152px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 15px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 71px 255px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 65px;
  height: 65px;
  margin: 38px auto 0 505px;
}

.u-section-1 .u-shape-2 {
  width: 65px;
  height: 65px;
  margin: -65px 505px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Akaya Kanadaka";
  margin: 114px 293px 0 auto;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 68px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 2.25rem;
  margin: 60px 60px 0 121px;
}

.u-section-1 .u-shape-3 {
  width: 39px;
  height: 52px;
  margin: 47px auto 0 38px;
}

.u-section-1 .u-shape-4 {
  width: 890px;
  height: 249px;
  background-image: none;
  margin: -52px 101px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: "Baloo Bhaijaan 2";
  font-weight: 700;
  text-decoration: underline !important;
  margin: -236px 255px 0 531px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 21px 153px 0 201px;
}

.u-section-1 .u-text-6 {
  font-family: "Baloo Bhaijaan 2";
  margin: 38px 190px 0 213px;
}

.u-section-1 .u-text-7 {
  font-family: "Baloo Bhaijaan 2";
  font-weight: 700;
  margin: 136px 171px 0 219px;
}

.u-section-1 .u-text-8 {
  font-family: "Baloo Bhaijaan 2";
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 111px 80px 0 121px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 40px 162px 0 227px;
}

.u-section-1 .u-text-10 {
  font-family: "Baloo Bhaijaan 2";
  font-size: 1.5rem;
  margin: 21px 177px 0 213px;
}

.u-section-1 .u-shape-5 {
  width: 889px;
  height: 249px;
  background-image: none;
  margin: -231px 101px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 39px;
  height: 52px;
  margin: -249px auto 0 43px;
}

.u-section-1 .u-video-1 {
  width: 999px;
  height: 499px;
  margin: 452px 60px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 330px auto 60px;
  padding: 39px 109px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2568px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2637px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2369px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 619px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -624px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 155px;
    margin-left: 431px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 53px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 90px;
    margin-left: 113px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 215px;
    margin-right: 84px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 247px;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 62px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 227px;
    margin-right: 77px;
    margin-left: 113px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 256px;
    margin-right: 51px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 522px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 470px;
    margin-top: 90px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 2008px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2458px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2625px;
    margin-right: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2357px;
    margin-right: 224px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 651px;
  }

  .u-section-1 .u-shape-4 {
    width: 720px;
    margin-top: -656px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 45px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-5 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 426px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 360px;
    margin-top: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2348px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 338px;
    margin-top: 2571px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 475px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 475px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2265px;
    margin-right: 168px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 698px;
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
    margin-top: -703px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 186px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 204px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 222px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 56px;
  }

  .u-section-1 .u-shape-5 {
    width: 540px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 359px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 270px;
    margin-top: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2817px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 43px;
    margin-right: -14px;
    margin-left: 34px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 213px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 94px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 255px;
    margin-right: 106px;
    margin-left: 31px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-top: 52px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-shape-3 {
    width: 38px;
    margin-top: 32px;
  }

  .u-section-1 .u-shape-4 {
    height: 292px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: 114px;
    margin-top: -271px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 19px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 106px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-size: 1.625rem;
    margin-top: 135px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-1 .u-shape-5 {
    height: 284px;
    margin-top: -253px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -349px;
    margin-left: auto;
  }

  .u-section-1 .u-video-1 {
    height: 170px;
    margin-top: 476px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 189px;
    margin-bottom: 60px;
    padding: 15px 52px 16px 51px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}